@model ITO5032_Assignment.Models.Booking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Booking</h2>

<div>
    <hr />
    <div class="col-md-offset-4 col-md-8">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.start_datetime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.start_datetime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.end_datetime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.end_datetime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User_id)
            </dt>

            <dd>
                @Model.User.first_name
                @Model.User.last_name
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bookable_id)
            </dt>

            <dd>
                @Model.Bookable.name
            </dd>

        </dl>
    </div>
    <div class="col-md-offset-5 col-md-7">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
                <a href="/Bookings" class="btn btn-default">Back to List</a>
            </div>
        }
    </div>
</div>

