@model ITO5032_Assignment.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking Details</h2>

<div>
    <hr />
    <div class="col-md-offset-4 col-md-8">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.start_datetime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.start_datetime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.end_datetime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.end_datetime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.first_name)
                @Html.DisplayFor(model => model.User.last_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bookable_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bookable.name)
            </dd>

        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-5 col-md-7">
        <p>
            <a href="/Bookings/Edit/@Model.id" class="btn btn-default">Edit</a>
            <a href="/Bookings" class="btn btn-default">Back to List</a>
        </p>
    </div>
</div>