@model IEnumerable<ITO5032_Assignment.Models.Booking>

@{
    ViewBag.Title = "Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Bookings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Make Booking", "Create")
</p>
<p>
    @Html.ActionLink("Service Provider Schedule", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.start_datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookable_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.start_datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bookable_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
