@using Microsoft.AspNet.Identity
@using ITO5032_Assignment.Models

@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "badge"
    };
}

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        <li>
            <div id="badge" class="badge">
                @Html.Partial("_BadgePartial")
            </div>
            @Ajax.ActionLink("Notifications", "test", "Notifications", ajaxOptions);
        </li>

        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

        </li>
    </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
</ul>
}
