@using Microsoft.AspNet.Identity

@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "badge"
    };
}

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
            @{Html.RenderAction("RenderAdminButton", "Home");}
        <li>
            @Html.ActionLink("User Management", "Index", "AppUsers", routeValues: null, htmlAttributes: new { id = "userManagement" })
        </li>
        <li>
            @Html.ActionLink("Schedule Management", "Index", "Bookings", routeValues: null, htmlAttributes: new { id = "scheduleManagement" })
        </li>
        <li>
            @Html.ActionLink("Notifications", "Index", "Notifications", routeValues: null, htmlAttributes: new { id = "scheduleManagement" })
            <div id="badge" />
        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

        </li>
    </ul>
    @Ajax.ActionLink(" ","getNotificationCount", "Notifications", null, ajaxOptions, new { id = "badgeButton" })
    <script type="text/javascript">
        $(document).ready(function () {
            function clickBadge() {
                document.getElementById("badgeButton").click();
                setTimeout(clickBadge, 30000)
            }
            clickBadge();
        })
    </script>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
