@model ITO5032_Assignment.Models.Rating

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <div class="col-md-offset-4 col-md-8">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.score)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.score)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.service_provider_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Service_Provider.first_name)
                @Html.DisplayFor(model => model.Service_Provider.last_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.first_name)
                @Html.DisplayFor(model => model.User.last_name)
            </dd>
    </div>

    </dl>
</div>
<div class="row">
    <div class="col-md-offset-5 col-md-7">
        <p>
            <a href="/Ratings/Edit/@Model.id" class="btn btn-default">Edit</a>
            <a href="/Ratings" class="btn btn-default">Back to List</a>
        </p>
    </div>
</div>
