@model ITO5032_Assignment.Models.EmailingModel
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>From: @Html.TextBoxFor(m => m.From)</p>
        <p>To: @Html.TextBoxFor(m => m.To)</p>
        <p>Subject: @Html.TextBoxFor(m => m.Subject)</p>
        <p>Body: @Html.TextAreaFor(m => m.Body)</p>
        <input type="submit" value="Send" />
        <p>Status: @ViewBag.Message</p>
    }
</fieldset> 