@model ITO5032_Assignment.Models.EmailingModel
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <dl class="dl-horizontal">

            <dt>
                From:
            </dt>

            <dd>
                @Html.TextBoxFor(m => m.From)
            </dd>

            <dt>
                To:
            </dt>

            <dd>
                @Html.TextBoxFor(m => m.To)
            </dd>

            <dt>
                Subject:
            </dt>

            <dd>
                @Html.TextBoxFor(m => m.Subject)
            </dd>

            <dt>
                Body:
            </dt>

            <dd>
                @Html.TextAreaFor(m => m.Body)
            </dd>

            <dt>

            </dt>

            <dd>
                <input type="submit" value="Send" />
            </dd>

            <dt>
                Status
            </dt>

            <dd>
                <p>Status: @ViewBag.Message</p>

            </dd>
        </dl>
    }

</fieldset> 