@model IEnumerable<ITO5032_Assignment.Models.Notification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notifications</h2>
@if (@ViewData["isAdmin"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notification_datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_id)

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notification_datetime)
            </td>
            <td>
                @item.User.first_name
                @item.User.last_name
            </td>
        </tr>
    }

</table>
