@model PagedList.IPagedList<ITO5032_Assignment.Models.Notification>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notifications</h2>
<div class="col-md-8">
    <p>

        @if (@ViewData["isAdmin"] != null)
        {
            <a href="/Notifications/Create" class="btn btn-default">Create New</a>
        }
        <a href="/Notifications/AckAllNotifications" class="btn btn-default">Acknowledge all notifications</a>
    </p>
</div>

<div class="col-md-4">
    @using (Html.BeginForm("Index", "Notifications", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            id
        </th>
        <th>
            Message
        </th>
        <th>
            @Html.ActionLink("Notification Date time", "Index", new { sortOrder = ViewBag.DateTimeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("User", "Index", new { sortOrder = ViewBag.UserSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notification_datetime)
            </td>
            <td>
                @item.User.first_name
                @item.User.last_name
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))